$tileColor: #b3b3b3;
$buttonColor: #359;
$bgColor: lighten(#359, 10%);
$playerXColor: #006bb3;
$playerOColor: #cc0000;


html, body {
  	height : 100%;
  	font-family: 'Open Sans', sans-serif;
  	text-align: center;
    background-color: $bgColor;
    color: white;
}


h1 { 
	margin: 25px;
	font-size: 3em;
}


#startButton {
    transition: transform 0.1s;
    background-color: $buttonColor;
    user-select: none;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 25px;
    width: calc(100% * (1/3));
    color: white;
    height: 75px;
    border: 1px solid darken($buttonColor, 10%);
    border-bottom: 3px solid darken($buttonColor, 10%);
    font-size: 2em;
    font-weight: 100;
    justify-content: center; // Center horizontally;
    align-items: center;     // Center vertically;

    &:hover {
        background-color: lighten($buttonColor, 10%);
        cursor: pointer;
        transform: translate(0px, -2px);
    }

    &:active {
        background-color: lighten($buttonColor, 5%);
        transform: translate(0px, 3px);
        box-shadow: inset -1px -1px 10px 1px darken($buttonColor, 10%);
        border-bottom: none;
    }
}


#currentTurn {
	font-size: 2.5em;
}


#game {
	display: flex;
	align-items: center;
	justify-content: center;
	vertical-align: center;
	flex-wrap: wrap;
	align-content: center;
	margin-bottom: 50px;
}


.board {
    background-color: #f7f7f7;
	width: 100%;
	max-width: 1000px;
	border: 1px solid $tileColor;
}


.largeTile {
  	padding: 5px;
  	border: 1px solid $tileColor;
  	margin: 15px;
  	width: calc(100% * (1/3));
  	background-color: $tileColor;
    transition: box-shadow 0.3s;
}


.row {
    display: flex;
}


.tile {
	transition: transform 0.1s;
	background-color: darken(white, 10%);
	user-select: none;
	pointer-events: none;
    display: flex;
    width: calc(100% * (1/3));
    height: 75px;
    border: 1px solid $tileColor;
    border-bottom: 3px solid $tileColor;
    font-size: 4em;
    font-weight: 100;
    justify-content: center; // Center horizontally;
    align-items: center;     // Center vertically;

    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;

    &:hover {
    	cursor: pointer;
    	transform: translate(0px, -2px);
    }

    &:active {
        transform: translate(0px, 3px);
        box-shadow: inset -1px -1px 10px 1px $tileColor;
        border-bottom: none;
    }
}


.hoverX {
    color: $playerXColor;
}


.hoverO {
    color: $playerOColor;
}


.playerX {
    color: $playerXColor;
}


.playerO {
    color: $playerOColor;
}


.winnerX {
    color: $playerXColor;
    transition: background-color 0.5s;
    background-color: darken($playerXColor, 20%);
    border-color: darken($playerXColor, 25%);
}


.winnerO {
    color: $playerOColor;
    transition: background-color 0.5s;
    background-color: darken($playerOColor, 20%);
    border-color: darken($playerOColor, 32%);
}


.tie {
    color: darken($tileColor, 5%);
    transition: background-color 0.5s;
    background-color: darken($tileColor, 25%);
    border-color: darken($tileColor, 45%);
    -webkit-text-stroke-color: darken($tileColor, 35%);
}


.validBoardX {
    box-shadow: 0 0 20px $playerXColor;
    animation: validX 2.5s infinite linear;
    animation-delay: 1.5s;
}


.validBoardO {
    box-shadow: 0 0 20px $playerOColor;
    animation: validO 2.5s infinite linear;
    animation-delay: 1.5s;
}


.validTile {
	pointer-events: auto;
    
}


.validBackground {
    background-color: white;
}


#modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    outline: 0;
    cursor: pointer;
    background-color: #000000;
    background-color:rgba(0, 0, 0, 0.5);
    display: none;

    align-items: center;
    justify-content: center;
    vertical-align: center;
}


.modal-content {
    background-color: white;
    border: 10px solid;
    border-color: #a6a6a6;
    font-size: 5em;
    color: #a6a6a6;
    max-width: 1200px;
    margin: 30px;
    padding: 50px;
    outline: 0;
    display: inline-block;

    -webkit-animation: animatezoom;
    animation-name: animatezoom;
    animation-duration: 0.45s;
}


.playerLetter {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}


@keyframes animatezoom {
    from { transform:scale(0) } 
    to { transform:scale(1) }
}


@keyframes validX {
    0% { box-shadow: 0 0 20px $playerXColor; }
    50% { box-shadow: 0 0 6px $playerXColor; }
    100% { box-shadow: 0 0 20px $playerXColor; }
}

@keyframes validO {
    0% { box-shadow: 0 0 20px $playerOColor; }
    50% { box-shadow: 0 0 6px $playerOColor; }
    100% { box-shadow: 0 0 20px $playerOColor; }
}
