html, body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  background-color: #406abf;
  color: white; }

h1 {
  margin: 25px;
  font-size: 3em; }

#startButton {
  transition: transform 0.1s;
  background-color: #359;
  user-select: none;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 25px;
  width: calc(100% * (1/3));
  color: white;
  height: 75px;
  border: 1px solid #264073;
  border-bottom: 3px solid #264073;
  font-size: 2em;
  font-weight: 100;
  justify-content: center;
  align-items: center; }
  #startButton:hover {
    background-color: #406abf;
    cursor: pointer;
    transform: translate(0px, -2px); }
  #startButton:active {
    background-color: #3960ac;
    transform: translate(0px, 3px);
    box-shadow: inset -1px -1px 10px 1px #264073;
    border-bottom: none; }

#currentTurn {
  font-size: 2.5em; }

#game {
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: center;
  flex-wrap: wrap;
  align-content: center;
  margin-bottom: 50px; }

.board {
  background-color: #f7f7f7;
  width: 100%;
  max-width: 1000px;
  border: 1px solid #b3b3b3; }

.largeTile {
  padding: 5px;
  border: 1px solid #b3b3b3;
  margin: 15px;
  width: calc(100% * (1/3));
  background-color: #b3b3b3;
  transition: box-shadow 0.3s; }

.row {
  display: flex; }

.tile {
  transition: transform 0.1s;
  background-color: #e6e6e6;
  user-select: none;
  pointer-events: none;
  display: flex;
  width: calc(100% * (1/3));
  height: 75px;
  border: 1px solid #b3b3b3;
  border-bottom: 3px solid #b3b3b3;
  font-size: 4em;
  font-weight: 100;
  justify-content: center;
  align-items: center;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black; }
  .tile:hover {
    cursor: pointer;
    transform: translate(0px, -2px); }
  .tile:active {
    transform: translate(0px, 3px);
    box-shadow: inset -1px -1px 10px 1px #b3b3b3;
    border-bottom: none; }

.hoverX {
  color: #006bb3; }

.hoverO {
  color: #cc0000; }

.playerX {
  color: #006bb3; }

.playerO {
  color: #cc0000; }

.winnerX {
  color: #006bb3;
  transition: background-color 0.5s;
  background-color: #002e4d;
  border-color: #001f33; }

.winnerO {
  color: #cc0000;
  transition: background-color 0.5s;
  background-color: #660000;
  border-color: #290000; }

.tie {
  color: #a6a6a6;
  transition: background-color 0.5s;
  background-color: #737373;
  border-color: #404040;
  -webkit-text-stroke-color: #5a5a5a; }

.validBoardX {
  box-shadow: 0 0 20px #006bb3;
  animation: validX 2.5s infinite linear;
  animation-delay: 1.5s; }

.validBoardO {
  box-shadow: 0 0 20px #cc0000;
  animation: validO 2.5s infinite linear;
  animation-delay: 1.5s; }

.validTile {
  pointer-events: auto; }

.validBackground {
  background-color: white; }

#modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  outline: 0;
  cursor: pointer;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  align-items: center;
  justify-content: center;
  vertical-align: center; }

.modal-content {
  background-color: white;
  border: 10px solid;
  border-color: #a6a6a6;
  font-size: 5em;
  color: #a6a6a6;
  max-width: 1200px;
  margin: 30px;
  padding: 50px;
  outline: 0;
  display: inline-block;
  -webkit-animation: animatezoom;
  animation-name: animatezoom;
  animation-duration: 0.45s; }

.playerLetter {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black; }

@keyframes animatezoom {
  from {
    transform: scale(0); }
  to {
    transform: scale(1); } }
@keyframes validX {
  0% {
    box-shadow: 0 0 20px #006bb3; }
  50% {
    box-shadow: 0 0 6px #006bb3; }
  100% {
    box-shadow: 0 0 20px #006bb3; } }
@keyframes validO {
  0% {
    box-shadow: 0 0 20px #cc0000; }
  50% {
    box-shadow: 0 0 6px #cc0000; }
  100% {
    box-shadow: 0 0 20px #cc0000; } }

/*# sourceMappingURL=style.css.map */
